<section class="cont">
    <div class="spacer">
        <div class="auth-container">
            <h2>Login</h2>
            <form>
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Digite seu email" required />

                <label for="password">Senha:</label>
                <input type="password" id="password" placeholder="Digite sua senha" required />

                <button type="submit">Entrar</button>
            </form>
            <p>
                Não tem uma conta?
                <a routerLink="/signup">Cadastre-se</a>
            </p>
        </div>
    </div>
    <app-footer></app-footer>
</section>