.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000000;

    h1 {
        margin: 0;

        a {
            color: #E0E0EC;
            text-decoration: none;
        }
    }

    nav {
        button {
            margin-left: 0.5rem;
            padding: 0.5rem 1rem;
            color: #ecf0f1;
            background: none;
            border: 1px solid #E0E0EC;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #474747;
            }
        }
    }
}