<div class="dashboard-container">
    <app-header></app-header>

    <main>
        <h2>Dashboard</h2>

        <div class="stats-cards">
            <div class="card">
                <h3>Total Passwords</h3>
                <p>{{ registers.length }}</p>
            </div>
            <div class="card">
                <h3>Secure Passwords</h3>
                <p>1</p>
            </div>
            <div class="card">
                <h3>Password Strength Score</h3>
                <p>1%</p>
            </div>
        </div>

        <div class="charts">
            <!-- Placeholder for charts -->
            <canvas id="passwordStrengthChart"></canvas>
            
        </div>

        <div class="actions">
            <button (click)="openAddPasswordModal()">Novo Register</button>
            <button routerLink="/registers">Meus Registros</button>
        </div>
    </main>

    <app-footer></app-footer>
</div>