<h2 mat-dialog-title>Atualizar Registro</h2>
<mat-dialog-content>
  <form [formGroup]="editRegisterForm">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" placeholder="ex. Conta Google" required />
      <mat-error *ngIf="editRegisterForm.get('name')?.hasError('required')">
        Nome é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nome de usuário ou Email</mat-label>
      <input matInput formControlName="email" placeholder="ex. user@exemplo.com" required />
      <mat-error *ngIf="editRegisterForm.get('email')?.hasError('required')">
        O Nome de usuário ou Email é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required />
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="editRegisterForm.get('password')?.hasError('required')">
        A Senha é obrigatória
      </mat-error>
    </mat-form-field>
    <button mat-button (click)="generatePassword()">Generate Password</button>

    <mat-form-field appearance="fill">
      <mat-label>Notas</mat-label>
      <textarea matInput formControlName="notes" rows="3"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="!editRegisterForm.valid">Salvar</button>
</mat-dialog-actions>