<div class="landing-container">
    <app-header></app-header>

    <main>
        <h2>Gerenciador de Senhas Seguro e Intuitivo</h2>
        <p>
            O XPassword é desenvolvido para ajudar você a armazenar, gerenciar e acessar suas senhas com segurança em
            todos os seus dispositivos.
        </p>
        <div class="cta-buttons">
            <button routerLink="/signup" class="signup-btn">Começar Agora</button>
            <button routerLink="/features" class="learn-more-btn">Saiba Mais</button>
        </div>
    </main>

    <app-footer></app-footer>
</div>